{% load crispy_forms_tags %}
<!DOCTYPE html>

<html lang="en">
<title>Alkohol Macht Frei</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<body>
{% include 'menu_bootsrap4_w3.html' %}
<div class="w3-container w3-grey" style="position:relative">
    <h1 class="w3-jumbo w3-text-grey" style="text-shadow:1px 1px 0 #444"> Tu sa prihlas:</h1>
</div>

<div class="w3-section w3-row-padding">
    <div class="w3-twothird">
        <div class="w3-card-4">
            <div class="w3-display-container">
                <div class="w3-display-bottomleft w3-container w3-xlarge w3-text-black"></div>
            </div>
            <div class="w3-container w3-light-grey">
                <p>
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input type="submit" value="Submit">
                </form>
                </p>
            </div>
        </div>
    </div>
</div>
<footer class="w3-container">
    <p>{{ now| date }}</p>
</footer>

</body>
</html>
